<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMail</servlet-name>
        <servlet-class>sendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserInfo</servlet-name>
        <servlet-class>getUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGallery</servlet-name>
        <servlet-class>getGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteImage</servlet-name>
        <servlet-class>deleteImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAdmin</servlet-name>
        <servlet-class>checkAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMail</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserInfo</servlet-name>
        <url-pattern>/getUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGallery</servlet-name>
        <url-pattern>/getGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteImage</servlet-name>
        <url-pattern>/deleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAdmin</servlet-name>
        <url-pattern>/checkAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
